<div class="{{ css }}" style="border: none;">
    <div class="page" id="home" style="border: none; background-image: url(&quot;{{ file_url(content.field_bgimage['#items'].entity.uri.value) }}&quot;);">
        <div class="home-model-main">{{ content.field_left }}</div>
        <div class="page-wrap" style="border: none;">
            <!-- # content -->
            <div class="content" style="border: none;">
                <h1 class="title" style="border: none;">{{ content.field_top }}</h1>
                <!--<p class="new_sub_head">Enhance any eye color with the most breathable<sup>*</sup> color contact lenses available<sup>1</sup></p>-->
                <div class="gemstones" style="border: none;">{{ content.field_bottom }}</div>
                <div class="links-section" style="border: none;">
                    <p class="button" style="border: none;"><a href="/play-with-color">Play with all 12 colors <span class="but-rightwhitearrow" style="border: none;"></span></a></p>
                    <p class="link" style="border: none;"><a a="" href="/free-trial">Try a free<sup>†</sup> in-office trial <span class="but-rightbrownarrow" style="border: none;"></span></a></p>
                </div>
            </div>
            <!--<p class="ref-txt visible-desktop">1. Based on published manufacturer-provided Dk values in: Tyler's Quarterly Soft Contact Lens Parameter Guide. June 2017.</p>-->

            <!-- only for mobile and tablet but not for desktop -->
            <div class="clear" style="border: none;"></div>					
            <!-- # content -->
        </div>
    </div>        
</div>