<div class="{{ css }}" style="border: none;"><div class="page" id="home" style="border: none; background-image: url(&quot;{{ file_url(bgimage) }}&quot;);">
				<img src="{{ file_url(left) }}"/>
                <div class="page-wrap" style="border: none;">
                    <!-- # content -->
                    <div class="content" style="border: none;">
					    <h1 class="title" style="border: none;"><img src="{{ file_url(top) }}"/></h1>
                        <!--<p class="new_sub_head">Enhance any eye color with the most breathable<sup>*</sup> color contact lenses available<sup>1</sup></p>-->
						<p class="gemstones" style="border: none;"><img src="{{ file_url(bottom) }}"/></p>
						<div class="links-section" style="border: none;">
							<p class="button" style="border: none;"><a href="https://www.airoptix.com/colors/color-studio.shtml">Play with all 12 colors <span class="but-rightwhitearrow" style="border: none;"></span></a></p>
							<p class="link" style="border: none;"><a a="" href="https://www.airoptix.com/colors/contact-lens-free-trial.shtml">Try a free<sup>†</sup> in-office trial <span class="but-rightbrownarrow" style="border: none;"></span></a></p>
						</div>
                    </div>
                     <!--<p class="ref-txt visible-desktop">1. Based on published manufacturer-provided Dk values in: Tyler's Quarterly Soft Contact Lens Parameter Guide. June 2017.</p>-->
					 
					 <!-- only for mobile and tablet but not for desktop -->
					 <div class="clear" style="border: none;"></div>
					<div class="mobile-content visible-mobile visible-tab" style="border: none;">
						<div class="img-container" style="border: none;">
							<img src="https://www.airoptix.com/colors/images/home-model/home-modelimg-mobile-new.png" alt="READY TO PLAY WITH YOUR EYE COLOR?" class="home-model-main" style="border: none;">
						</div>
						<!--<p class="link"><a a href="https://www.airoptix.com/colors/contact-lens-free-trial.shtml">Try a free<sup>†</sup> pair in-office <span class="but-rightbrownarrow"></span></a></p>-->
						<!--<p class="ref-txt">1. Based on published manufacturer-provided Dk and thickness values in: Tyler’s Quarterly Soft Contact Lens Parameter Guide, June 2016.</p>-->
					</div>
                    <!-- # content -->
                </div>
            </div></div>