<div class="{{ css }}" style="border: none;"><div class="page" id="innerpage-container" style="border: none; background-image: url(&quot;{{ file_url(content.field_bgimage['#items'].entity.uri.value) }}&quot;);">
        <div class="home-model-main visible-desktop">{{ content.field_right }}</div>
                <div class="page-wrap" style="border: none;">
                    <!-- # content -->
                    <div class="content" style="border: none;">
					    <h1 class="title" style="border: none;">{{ content.field_top }}</h1>
                        <p class="new_sub_head" style="border: none;">{{ content.field_text }}</p>
						<p class="button" style="border: none;"><a href="http://www.eyecolor-test.com" target="_blank">Take the personality test <span class="but-rightwhitearrow" style="border: none;"></span></a></p>
						<p class="link visible-desktop" style="border: none;"><a a="" href="https://www.airoptix.com/colors/contact-lens-free-trial.shtml">Try your color match for free<sup>†</sup> <span class="but-rightbrownarrow" style="border: none;"></span></a></p>
                    </div>
					<!-- only for mobile and tablet but not for desktop -->
					 <div class="clear" style="border: none;"></div>
					<div class="mobile-content visible-mobile visible-tab" style="border: none;">
						<div class="img-container" style="border: none;">
							<img src="https://www.airoptix.com/colors/images/home-model/stylewatch-modelimg-mobile.png" alt="READY TO PLAY WITH YOUR EYE COLOR?" class="home-model-main" style="border: none;">
						</div>
						<p class="link" style="border: none;"><a a="" href="https://www.airoptix.com/colors/contact-lens-free-trial.shtml">Try your color match for free<sup>†</sup> <span class="but-rightbrownarrow" style="border: none;"></span></a></p>	
					</div>
                    <!-- # content -->
                </div>
            </div></div>